/* Estilo para o container principal */
.quadro-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

/* Estilo para a caixa de entrada de texto e botão */
.input-box {
  display: flex;
  align-items: center;
  margin-top: 65px;
}

.input-box label {
  font-weight: bold;
  margin-right: 10px; /* Adicionando margem entre a label e o input */
}

.input-box input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
}

/* Estilo para o botão "Cadastrar novo quadro" */
.quadro-box button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}

.quadro-box button:hover {
  background-color: #45a049;
}

/* Estilo para a tabela */
.table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px; /* Definindo uma largura máxima para a tabela */
  margin: 0 auto; /* Centralizando a tabela na página */
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #4caf50;
  color: white;
}

/* Estilo para os botões na coluna de Ações */
.table button {
  background-color: #f44336;
  color: white;
  padding: 6px 10px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  margin-right: 5px;
}

.table button:hover {
  background-color: #d32f2f;
}
